.u-section-1 .u-sheet-1 {
  min-height: 1317px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1090px;
  margin: 59px auto 0 -60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 601px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 17px;
}

.u-section-1 .u-image-1 {
  width: 327px;
  height: 554px;
  margin: 0 10px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 601px;
}

.u-section-1 .u-container-layout-2 {
  padding: 14px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 auto 0 40px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-style: italic;
  margin: 25px auto 0 40px;
}

.u-section-1 .u-text-3 {
  margin: 40px -10px 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 131px;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -29px 372px 0 auto;
}

.u-section-1 .u-text-6 {
  margin: 11px 100px 0 618px;
}

.u-section-1 .u-text-7 {
  margin: -345px 570px 0 123px;
}

.u-section-1 .u-text-8 {
  width: 727px;
  margin: 46px auto 0;
}

.u-section-1 .u-line-1 {
  width: 912px;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1234px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 528px;
  }

  .u-section-1 .u-image-1 {
    height: 530px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 528px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -144px;
    margin-right: 306px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 22px;
    margin-right: 0;
    margin-left: 518px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -243px;
    margin-right: -76px;
    margin-left: 23px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -33px;
    margin-left: 114px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1113px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 404px;
  }

  .u-section-1 .u-image-1 {
    width: 326px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 234px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 298px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    width: 720px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1412px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 606px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-5 {
    margin-top: -211px;
    margin-right: 176px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 118px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -143px;
  }

  .u-section-1 .u-text-8 {
    width: 540px;
    margin-top: -20px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1191px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 382px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-4 {
    margin-left: 82px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -57px;
    margin-right: 111px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: -351px;
  }

  .u-section-1 .u-text-8 {
    width: 340px;
    margin-top: 9px;
    margin-left: 72px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
    margin-bottom: -115px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1072px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 174px 0 232px;
}

.u-section-2 .u-table-1 {
  width: 862px;
  margin: 35px auto 0;
}

.u-block-8920-49 {
  background-image: none;
}

.u-section-2 .u-table-body-1 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-1 {
  background-image: none;
}

.u-section-2 .u-table-cell-2 {
  background-image: none;
  width: 210px;
  margin-right: 736px;
  margin-left: 193px;
}

.u-section-2 .u-table-cell-3 {
  background-image: none;
  width: 543px;
  margin-right: 193px;
  margin-left: 403px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-table-cell-5 {
  width: 210px;
  margin-right: 272px;
  margin-left: 658px;
}

.u-section-2 .u-table-cell-6 {
  width: 543px;
  margin-right: 105px;
  margin-left: 491px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-table-cell-8 {
  width: 210px;
  margin-right: 272px;
  margin-left: 658px;
}

.u-section-2 .u-table-cell-9 {
  width: 543px;
  margin-right: 105px;
  margin-left: 491px;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-table-cell-11 {
  width: 210px;
  margin-right: 272px;
  margin-left: 658px;
}

.u-section-2 .u-table-cell-12 {
  width: 543px;
  margin-right: 105px;
  margin-left: 491px;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-table-cell-14 {
  width: 210px;
  margin-right: 272px;
  margin-left: 658px;
}

.u-section-2 .u-table-cell-15 {
  width: 543px;
  margin-right: 105px;
  margin-left: 491px;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-table-cell-17 {
  width: 210px;
  margin-right: 272px;
  margin-left: 658px;
}

.u-section-2 .u-table-cell-18 {
  width: 543px;
  margin-right: 105px;
  margin-left: 491px;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-table-cell-20 {
  width: 210px;
  margin-right: 272px;
  margin-left: 658px;
}

.u-section-2 .u-table-cell-21 {
  width: 543px;
  margin-right: 105px;
  margin-left: 491px;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-table-cell-23 {
  width: 210px;
  margin-right: 272px;
  margin-left: 658px;
}

.u-section-2 .u-table-cell-24 {
  width: 543px;
  margin-right: 105px;
  margin-left: 491px;
}

.u-section-2 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-table-cell-26 {
  width: 210px;
  margin-right: 272px;
  margin-left: 658px;
}

.u-section-2 .u-table-cell-27 {
  width: 543px;
  margin-right: 105px;
  margin-left: 491px;
}

.u-section-2 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-table-cell-29 {
  width: 210px;
  margin-right: 272px;
  margin-left: 658px;
}

.u-section-2 .u-table-cell-30 {
  width: 543px;
  margin-right: 105px;
  margin-left: 491px;
}

.u-section-2 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-table-cell-32 {
  width: 210px;
  margin-right: 272px;
  margin-left: 658px;
}

.u-section-2 .u-table-cell-33 {
  width: 543px;
  margin-right: 105px;
  margin-left: 491px;
}

.u-section-2 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-table-cell-35 {
  width: 210px;
  margin-right: 272px;
  margin-left: 658px;
}

.u-section-2 .u-table-cell-36 {
  width: 543px;
  margin-right: 105px;
  margin-left: 491px;
}

.u-section-2 .u-line-1 {
  width: 912px;
  margin: 107px auto 5px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-right: 74px;
    margin-left: 132px;
  }

  .u-section-2 .u-table-cell-2 {
    margin-right: 607px;
    margin-left: 159px;
  }

  .u-section-2 .u-table-cell-3 {
    margin-right: 159px;
    margin-left: 332px;
  }

  .u-section-2 .u-table-cell-5 {
    margin-right: 607px;
    margin-left: 159px;
  }

  .u-section-2 .u-table-cell-6 {
    margin-right: 159px;
    margin-left: 332px;
  }

  .u-section-2 .u-table-cell-8 {
    margin-right: 607px;
    margin-left: 159px;
  }

  .u-section-2 .u-table-cell-9 {
    margin-right: 159px;
    margin-left: 332px;
  }

  .u-section-2 .u-table-cell-11 {
    margin-right: 607px;
    margin-left: 159px;
  }

  .u-section-2 .u-table-cell-12 {
    margin-right: 159px;
    margin-left: 332px;
  }

  .u-section-2 .u-table-cell-14 {
    margin-right: 607px;
    margin-left: 159px;
  }

  .u-section-2 .u-table-cell-15 {
    margin-right: 159px;
    margin-left: 332px;
  }

  .u-section-2 .u-table-cell-17 {
    margin-right: 607px;
    margin-left: 159px;
  }

  .u-section-2 .u-table-cell-18 {
    margin-right: 159px;
    margin-left: 332px;
  }

  .u-section-2 .u-table-cell-20 {
    margin-right: 607px;
    margin-left: 159px;
    font-weight: 700;
  }

  .u-section-2 .u-table-cell-21 {
    margin-right: 159px;
    margin-left: 332px;
  }

  .u-section-2 .u-table-cell-23 {
    margin-right: 607px;
    margin-left: 159px;
  }

  .u-section-2 .u-table-cell-24 {
    margin-right: 159px;
    margin-left: 332px;
  }

  .u-section-2 .u-table-cell-26 {
    margin-right: 607px;
    margin-left: 159px;
  }

  .u-section-2 .u-table-cell-27 {
    margin-right: 159px;
    margin-left: 332px;
  }

  .u-section-2 .u-table-cell-29 {
    margin-right: 607px;
    margin-left: 159px;
  }

  .u-section-2 .u-table-cell-30 {
    margin-right: 159px;
    margin-left: 332px;
  }

  .u-section-2 .u-table-cell-32 {
    margin-right: 607px;
    margin-left: 159px;
  }

  .u-section-2 .u-table-cell-33 {
    margin-right: 159px;
    margin-left: 332px;
  }

  .u-section-2 .u-table-cell-35 {
    margin-right: 607px;
    margin-left: 159px;
  }

  .u-section-2 .u-table-cell-36 {
    margin-right: 159px;
    margin-left: 332px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-table-1 {
    width: 720px;
  }

  .u-section-2 .u-table-cell-2 {
    margin-right: 456px;
    margin-left: 121px;
  }

  .u-section-2 .u-table-cell-3 {
    margin-right: 121px;
    margin-left: 263px;
  }

  .u-section-2 .u-table-cell-5 {
    margin-right: 456px;
    margin-left: 121px;
  }

  .u-section-2 .u-table-cell-6 {
    margin-right: 121px;
    margin-left: 263px;
  }

  .u-section-2 .u-table-cell-8 {
    margin-right: 456px;
    margin-left: 121px;
  }

  .u-section-2 .u-table-cell-9 {
    margin-right: 121px;
    margin-left: 263px;
  }

  .u-section-2 .u-table-cell-11 {
    margin-right: 456px;
    margin-left: 121px;
  }

  .u-section-2 .u-table-cell-12 {
    margin-right: 121px;
    margin-left: 263px;
  }

  .u-section-2 .u-table-cell-14 {
    margin-right: 456px;
    margin-left: 121px;
  }

  .u-section-2 .u-table-cell-15 {
    margin-right: 121px;
    margin-left: 263px;
  }

  .u-section-2 .u-table-cell-17 {
    margin-right: 456px;
    margin-left: 121px;
  }

  .u-section-2 .u-table-cell-18 {
    margin-right: 121px;
    margin-left: 263px;
  }

  .u-section-2 .u-table-cell-20 {
    margin-right: 456px;
    margin-left: 121px;
  }

  .u-section-2 .u-table-cell-21 {
    margin-right: 121px;
    margin-left: 263px;
  }

  .u-section-2 .u-table-cell-23 {
    margin-right: 456px;
    margin-left: 121px;
  }

  .u-section-2 .u-table-cell-24 {
    margin-right: 121px;
    margin-left: 263px;
  }

  .u-section-2 .u-table-cell-26 {
    margin-right: 456px;
    margin-left: 121px;
  }

  .u-section-2 .u-table-cell-27 {
    margin-right: 121px;
    margin-left: 263px;
  }

  .u-section-2 .u-table-cell-29 {
    margin-right: 456px;
    margin-left: 121px;
  }

  .u-section-2 .u-table-cell-30 {
    margin-right: 121px;
    margin-left: 263px;
  }

  .u-section-2 .u-table-cell-32 {
    margin-right: 456px;
    margin-left: 121px;
  }

  .u-section-2 .u-table-cell-33 {
    margin-right: 121px;
    margin-left: 263px;
  }

  .u-section-2 .u-table-cell-35 {
    margin-right: 456px;
    margin-left: 121px;
  }

  .u-section-2 .u-table-cell-36 {
    margin-right: 121px;
    margin-left: 263px;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-table-1 {
    width: 540px;
  }

  .u-section-2 .u-table-cell-2 {
    margin-right: 306px;
    margin-left: 91px;
  }

  .u-section-2 .u-table-cell-3 {
    margin-right: 91px;
    margin-left: 233px;
  }

  .u-section-2 .u-table-cell-5 {
    margin-right: 306px;
    margin-left: 91px;
  }

  .u-section-2 .u-table-cell-6 {
    margin-right: 91px;
    margin-left: 233px;
  }

  .u-section-2 .u-table-cell-8 {
    margin-right: 306px;
    margin-left: 91px;
  }

  .u-section-2 .u-table-cell-9 {
    margin-right: 91px;
    margin-left: 233px;
  }

  .u-section-2 .u-table-cell-11 {
    margin-right: 306px;
    margin-left: 91px;
  }

  .u-section-2 .u-table-cell-12 {
    margin-right: 91px;
    margin-left: 233px;
  }

  .u-section-2 .u-table-cell-14 {
    margin-right: 306px;
    margin-left: 91px;
  }

  .u-section-2 .u-table-cell-15 {
    margin-right: 91px;
    margin-left: 233px;
  }

  .u-section-2 .u-table-cell-17 {
    margin-right: 306px;
    margin-left: 91px;
  }

  .u-section-2 .u-table-cell-18 {
    margin-right: 91px;
    margin-left: 233px;
  }

  .u-section-2 .u-table-cell-20 {
    margin-right: 306px;
    margin-left: 91px;
  }

  .u-section-2 .u-table-cell-21 {
    margin-right: 91px;
    margin-left: 233px;
  }

  .u-section-2 .u-table-cell-23 {
    margin-right: 306px;
    margin-left: 91px;
  }

  .u-section-2 .u-table-cell-24 {
    margin-right: 91px;
    margin-left: 233px;
  }

  .u-section-2 .u-table-cell-26 {
    margin-right: 306px;
    margin-left: 91px;
  }

  .u-section-2 .u-table-cell-27 {
    margin-right: 91px;
    margin-left: 233px;
  }

  .u-section-2 .u-table-cell-29 {
    margin-right: 306px;
    margin-left: 91px;
  }

  .u-section-2 .u-table-cell-30 {
    margin-right: 91px;
    margin-left: 233px;
  }

  .u-section-2 .u-table-cell-32 {
    margin-right: 306px;
    margin-left: 91px;
  }

  .u-section-2 .u-table-cell-33 {
    margin-right: 91px;
    margin-left: 233px;
  }

  .u-section-2 .u-table-cell-35 {
    margin-right: 306px;
    margin-left: 91px;
  }

  .u-section-2 .u-table-cell-36 {
    margin-right: 91px;
    margin-left: 233px;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-table-1 {
    width: 340px;
  }

  .u-section-2 .u-table-cell-2 {
    margin-right: 197px;
  }

  .u-section-2 .u-table-cell-5 {
    margin-right: 197px;
  }

  .u-section-2 .u-table-cell-8 {
    margin-right: 197px;
  }

  .u-section-2 .u-table-cell-11 {
    margin-right: 197px;
  }

  .u-section-2 .u-table-cell-14 {
    margin-right: 197px;
  }

  .u-section-2 .u-table-cell-17 {
    margin-right: 197px;
  }

  .u-section-2 .u-table-cell-20 {
    margin-right: 197px;
  }

  .u-section-2 .u-table-cell-23 {
    margin-right: 197px;
  }

  .u-section-2 .u-table-cell-26 {
    margin-right: 197px;
  }

  .u-section-2 .u-table-cell-29 {
    margin-right: 197px;
  }

  .u-section-2 .u-table-cell-32 {
    margin-right: 197px;
  }

  .u-section-2 .u-table-cell-35 {
    margin-right: 197px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1805px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 19px 108px 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 55px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 407px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 561px;
  height: 374px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 13px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 407px;
}

.u-section-3 .u-container-layout-2 {
  padding: 16px 0 16px 11px;
}

.u-section-3 .u-text-3 {
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 5px 10px 0;
}

.u-section-3 .u-text-4 {
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-wrap-2 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 503px;
}

.u-section-3 .u-container-layout-3 {
  padding: 15px 24px;
}

.u-section-3 .u-text-5 {
  --animation-custom_in-translate_x: 400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 218px;
  margin: 65px auto 0;
}

.u-section-3 .u-text-6 {
  --animation-custom_in-translate_x: 400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 9px 0 0;
}

.u-section-3 .u-text-7 {
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 399px -15px 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  --animation-custom_in-translate_x: 400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  padding: 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 450px;
}

.u-section-3 .u-container-layout-4 {
  padding: 7px 2px;
}

.u-section-3 .u-image-2 {
  width: 555px;
  height: 416px;
  --animation-custom_in-translate_x: 400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 0 0 auto;
}

.u-section-3 .u-layout-wrap-3 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 436px;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 0 18px;
}

.u-section-3 .u-image-3 {
  width: 534px;
  height: 401px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 17px 9px 0 auto;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 436px;
}

.u-section-3 .u-container-layout-6 {
  padding: 16px 0 16px 6px;
}

.u-section-3 .u-text-8 {
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 19px 0 37px;
}

.u-section-3 .u-text-9 {
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-3 .u-text-10 {
  width: 575px;
  margin: 95px auto 0;
}

.u-section-3 .u-line-1 {
  width: 912px;
  margin: 29px auto 23px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1570px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 336px;
  }

  .u-section-3 .u-image-1 {
    width: 470px;
    height: 313px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 336px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 415px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 299px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 371px;
  }

  .u-section-3 .u-image-2 {
    width: 466px;
    height: 350px;
  }

  .u-section-3 .u-layout-wrap-3 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 360px;
  }

  .u-section-3 .u-image-3 {
    width: 470px;
    height: 352px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 360px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1276px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 257px;
  }

  .u-section-3 .u-image-1 {
    width: 360px;
    height: 240px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 189px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 284px;
  }

  .u-section-3 .u-image-2 {
    width: 356px;
    height: 267px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 276px;
  }

  .u-section-3 .u-image-3 {
    width: 360px;
    height: 270px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1985px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 386px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 426px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 414px;
  }

  .u-section-3 .u-text-10 {
    width: 540px;
  }

  .u-section-3 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1531px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 243px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 227px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 268px;
  }

  .u-section-3 .u-image-2 {
    width: 336px;
    height: 252px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 261px;
  }

  .u-section-3 .u-image-3 {
    width: 340px;
    height: 255px;
  }

  .u-section-3 .u-text-10 {
    width: 340px;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1037px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 62px auto 0;
}

.u-section-4 .u-text-2 {
  width: 572px;
  margin: 12px auto 0;
}

.u-section-4 .u-table-1 {
  width: 728px;
  margin: 0 auto;
}

.u-block-3e48-55 {
  background-image: none;
}

.u-section-4 .u-table-body-1 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-1 {
  background-image: none;
}

.u-section-4 .u-table-cell-2 {
  background-image: none;
  width: 210px;
  margin-right: 736px;
  margin-left: 193px;
}

.u-section-4 .u-table-cell-3 {
  background-image: none;
  width: 543px;
  margin-right: 193px;
  margin-left: 403px;
}

.u-section-4 .u-table-cell-5 {
  width: 210px;
  margin-right: 272px;
  margin-left: 658px;
}

.u-section-4 .u-table-cell-6 {
  width: 543px;
  margin-right: 105px;
  margin-left: 491px;
}

.u-section-4 .u-table-cell-8 {
  width: 210px;
  margin-right: 272px;
  margin-left: 658px;
}

.u-section-4 .u-table-cell-9 {
  width: 543px;
  margin-right: 105px;
  margin-left: 491px;
}

.u-section-4 .u-table-cell-11 {
  width: 210px;
  margin-right: 272px;
  margin-left: 658px;
}

.u-section-4 .u-table-cell-12 {
  width: 543px;
  margin-right: 105px;
  margin-left: 491px;
}

.u-section-4 .u-table-cell-14 {
  width: 210px;
  margin-right: 272px;
  margin-left: 658px;
}

.u-section-4 .u-table-cell-15 {
  width: 543px;
  margin-right: 105px;
  margin-left: 491px;
}

.u-section-4 .u-table-cell-17 {
  width: 210px;
  margin-right: 272px;
  margin-left: 658px;
}

.u-section-4 .u-table-cell-18 {
  width: 543px;
  margin-right: 105px;
  margin-left: 491px;
}

.u-section-4 .u-table-cell-20 {
  width: 210px;
  margin-right: 272px;
  margin-left: 658px;
}

.u-section-4 .u-table-cell-21 {
  width: 543px;
  margin-right: 105px;
  margin-left: 491px;
}

.u-section-4 .u-table-cell-23 {
  width: 210px;
  margin-right: 272px;
  margin-left: 658px;
}

.u-section-4 .u-table-cell-24 {
  width: 543px;
  margin-right: 105px;
  margin-left: 491px;
}

.u-section-4 .u-table-cell-26 {
  width: 210px;
  margin-right: 272px;
  margin-left: 658px;
}

.u-section-4 .u-table-cell-27 {
  width: 543px;
  margin-right: 105px;
  margin-left: 491px;
}

.u-section-4 .u-table-cell-29 {
  width: 210px;
  margin-right: 272px;
  margin-left: 658px;
}

.u-section-4 .u-table-cell-30 {
  width: 543px;
  margin-right: 105px;
  margin-left: 491px;
}

.u-section-4 .u-text-3 {
  width: 897px;
  margin: 25px auto 0;
}

.u-section-4 .u-line-1 {
  width: 912px;
  margin: 31px auto 34px;
}

@media (max-width: 991px) {
  .u-section-4 .u-table-1 {
    width: 720px;
  }

  .u-section-4 .u-text-3 {
    width: 720px;
  }

  .u-section-4 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-table-1 {
    width: 540px;
  }

  .u-section-4 .u-text-3 {
    width: 540px;
  }

  .u-section-4 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-table-1 {
    width: 340px;
  }

  .u-section-4 .u-text-3 {
    width: 340px;
  }

  .u-section-4 .u-line-1 {
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 734px;
}

.u-section-5 .u-group-1 {
  --radius: 30px;
  width: 345px;
  min-height: 635px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 19px 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 18px 41px 0;
}

.u-section-5 .u-text-2 {
  margin: 55px 94px 0 auto;
}

.u-section-5 .u-image-1 {
  width: 72px;
  height: 72px;
  margin: -50px auto 0 38px;
}

.u-section-5 .u-image-2 {
  width: 72px;
  height: 72px;
  margin: 15px auto 0 38px;
}

.u-section-5 .u-text-3 {
  margin: -44px 28px 0 auto;
}

.u-section-5 .u-text-4 {
  margin: 47px 44px 0 auto;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  margin: -29px auto 0 44px;
}

.u-section-5 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 58px auto 0;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 39px;
    margin-right: 39px;
  }
}